.d-flex {
  display: flex;
}
video {
  object-fit: cover;
  width: 100%;
}
.border-2 {
  border: 2px solid slategray;
}

.second-border video:nth-child(2) {
  border-left: 1px;
}

button {
  margin-top: 10px !important;
  margin-left: 5px !important;
}

#root {
  height: 100%;
  width: 100%;
}
.call {
  height: 60%;
}

.video-container {
  height: 100%;
  width: 100%;
}
